<h1>Login Page</h1>
<div class = "form-container">
  <%= form_with url: :authenticate do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
    </br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag "Login" %>
  <% end %>
  <br>
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
  <%= link_to "back", root_url %>
</div>