<h1>Login Page</h1>

<div class = "form-container">
  <%= form_with url: :authenticate do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Login" %>
  <% end %>
  <br>
  <%= render partial: "layouts/show_notice" %>
  <%= link_to "back", root_url %>
</div>
