<%= render partial: "layouts/sidebar" %>
<h1> Edit password </h1>
<div class = "form-container">
  <%= form_for :user_pass , url: update_password_path do |form| %>

    <%= form.label :current_password %>
    <%= form.password_field :current_password %>
    </br>
    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    
    <%= form.submit "Update password", class: 'btn btn-primary btn-block' %>
  <% end %>
  <%= link_to "back", user_path(session[:user_id]) %>
  <%= render partial: "layouts/show_notice" %>
  <%= render partial: "layouts/display_error" %>
</div>
