<%= render partial: "layouts/sidebar" %>

<div class = "col-xs-12">
  <div class = "well well-sm">
    <div class = "user-profile-card">
      <div class = "user-profile-header">
      </div>
      <div class = "user-profile-avatar text-center">
        <% if @user.images.attached? %>
          <%= link_to image_tag(@user.images.last), all_images_path(session[:user_id]) %>
        <% else %>
          <%= image_tag "default-profile-picture.jpg" %>
        <% end %>
      </div>
      <div class = "container-fluid">
        <p>
          <small><strong>Name:</strong></small>
          <%= @user.first_name %> <%= @user.last_name %>
        </p>
        <p>
          <small><strong>Email:</strong></small>
          <%= @user.email %>
        </p>
        <p>
          <small><strong>Date of Birth:</strong></small>
          <%= @user.dob %>
        </p>
        <% if @user.addresses.any? %>
          <p>
            <small><strong>Addresses:</strong></small><p></p>
            <ul>
            <% @user.addresses.each do |address| %>
              <li><%= address.house_number %>, <%= address.colony %> <%= address.street %> <%= address.city %>, <%= address.state %></br>
                <%= link_to edit_address_path(address.id) do %>
                  <i class = "glyphicon glyphicon-edit" ></i> 
                <% end %>
                <%= link_to address_path(address.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class = "glyphicon glyphicon-trash" ></i> 
                <% end %>
              </li>
            <% end %>
            </ul>
          </p>
        <% end %>
      </div>
      <div class = "panel-footer">
        <button class = "btn btn-sm btn-outline-primary"><%= link_to new_user_address_path(session[:user_id]) do %>
          <i class = "glyphicon glyphicon-edit"></i> Add address
        <% end %></button>
      </div>
      <div class = "panel-footer">
        <button class = "btn btn-sm btn-outline-primary"><%= link_to edit_user_path(session[:user_id]) do %>
          <i class = "glyphicon glyphicon-edit"></i> Edit My Profile
        <% end %></button>
      </div>
      <div class = "panel-footer">
        <button class = "btn btn-sm btn-outline-primary"><%= link_to add_image_path(session[:user_id]) do %>
          <i class = "glyphicon glyphicon-edit"></i> Add new photo
        <% end %></button>
      </div>
    </div>
    <%= render partial: "layouts/show_notice" %>
  </div>
</div>
