<%= form_for [@user, @address] do |form| %>
  <%= form.label :house_number %>
  <%= form.number_field :house_number %>
  <p class = "error"><%= show_errors(@address, :house_number) %></p>

  <%= form.label :colony %>
  <%= form.text_field :colony %>
  <p class = "error"><%= show_errors(@address, :colony) %></p>

  <%= form.label :street %>
  <%= form.text_field :street %>
  <p class = "error"><%= show_errors(@address, :street) %></p>

  <%= form.label :city %>
  <%= form.text_field :city %>
  <p class = "error"><%= show_errors(@address, :city) %></p>

  <%= form.label :state %>
  <%= form.text_field :state %>
  <p class = "error"><%= show_errors(@address, :state) %></p>
  <%= form.submit submit_text, class: 'btn btn-primary btn-block' %>
<% end %>
