<div class = "wrapper d-flex">
  <div class = "sidebar"><small class = "text-muted pl-3">User</small>
    <ul>
      <li> 
        <%= link_to user_path(session[:user_id]) do %>
          <i class = "zmdi zmdi-account-o"> </i> 
          View Profile
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_path(session[:user_id]) do %>
          <i class = "zmdi zmdi-border-color"> </i> 
          Edit Profile
        <% end %>
      </li>
      <li>
        <%= link_to edit_password_path(session[:user_id]) do %>
          <strong><i class = "zmdi zmdi-lock"> </i></strong>
          Edit Password
        <% end %>
      </li>
      <li>
        <%= link_to all_images_path(session[:user_id]) do %>
          <i class = "zmdi zmdi-book-image"> </i>
          Image Gallery
        <% end %>
      </li>
      <li>
        <%= link_to exercises_path do %>
          <i class = "zmdi zmdi-bike"> </i>
          Exercises
        <% end %>
      </li>
      <li>
        <%= link_to cart_path(session[:user_id]) do %>
          <i class = "zmdi zmdi-shopping-cart-plus"> </i>
          Cart
        <% end %>
      </li>
      <li>
        <%= link_to invoice_history_path(session[:user_id]) do %>
          <i class = "zmdi zmdi-shopping-cart"> </i>
          Invoice History
        <% end %>
      </li>
      <li>
        <%= link_to logout_path do %>
          <i class = "zmdi zmdi-long-arrow-return"> </i>
          Logout
        <% end %>
      </li>
    </ul>
  </div>
</div>
